<!doctype html>
<html lang="ko">
<head th:replace="/common/header.html :: head">
    <title>Simplify</title>
</head>
<body>
<nav th:replace="/common/navbar.html :: nav"></nav>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <br><br>
        <h1 class="mt-5">게시글 수정</h1>
        <br>
        <form th:action="@{/boards/update/{id}(id=${boardInfo.id()})}" th:object="${boardInfo}" method = "post">
            <input type="hidden" name="_method" value="put">
            <div class="mb-3">
                <label th:for="*{title}" class="form-label">글 제목</label>
                <label>
                    <input type="text" class="form-control" th:field="*{title}" placeholder="제목입력..">
                </label>
            </div>
            <div class="mb-3">
                <label th:for="*{content}" class="form-label">글 내용</label>
                <label>
                    <textarea class="form-control"  th:field="*{content}" rows="8"></textarea>
                </label>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-primary">취소</button>
                <button type="submit" class="btn btn-primary">수정</button>
            </div>
        </form>

    </div>
</main>

<div th:replace = "/common/footer.html"></div>

</body>
</html>