<!doctype html>
<html lang="ko">
<head th:replace="/common/header.html :: head">
    <title>Simplify</title>
</head>
<body>
<nav th:replace="/common/navbar.html :: nav"></nav>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <br><br>
        <h1 class="mt-5">게시글 조회</h1>
        <br>

        <h2>글 제목</h2><br>
        <p th:text="${boardDetail.title()}"></p>

        <h2>글 내용</h2><br>
        <p th:text="${boardDetail.content()}"></p>

        <h2>조회수 </h2>
        <p th:text="${boardDetail.viewCount()}"></p>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" th:onclick="|location.href='@{/}'|" class="btn btn-primary">목록</button>
            <form th:action="@{/boards/update/{id}(id=${boardDetail.id()})}" method="get">
                <button type="submit" class="btn btn-primary">수정</button>
            </form>
            <form th:action="@{/boards/delete/{id}(id=${boardDetail.id()})}" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="btn btn-primary">삭제</button>
            </form>

        </div>
    </div>
</main>

<div th:replace = "/common/footer.html"></div>

</body>
</html>