<!doctype html>
<html lang="ko">
<head th:replace="/common/header.html :: head">
    <title>Simplify</title>
</head>
<body>
<nav th:replace="/common/navbar.html :: nav"></nav>


<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <br><br>
        <h1 class="mt-5">게시글 목록</h1>

        <table class="table">
            <thead class="table-light">
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>내용</th>
                <th>작성일자</th>
                <th>조회수</th>

            </tr>
            </thead>

            <tbody>
            <tr th:each="list : ${pageList}">
                <td th:text="${list.id()}"></td>
                <td>
                    <a th:text="${list.title()}" th:href="@{/boards/{id}(id=${list.id()})}"></a>
                </td>

                <td th:text="${list.content()}"></td>
                <td th:text="${list.creatAt()}"></td>
                <td th:text="${list.viewCount()}"></td>
            </tr>
            </tbody>

        </table>


        <th:block th:each="pageNumber:${#numbers.sequence(startPage,endPage)}">
            <a th:if="${pageNumber != nowPage}" th:href="@{/(page=${pageNumber -1})}" th:text="${pageNumber}"></a>
            <strong th:if="${pageNumber == nowPage}" th:text="${pageNumber}"></strong>
        </th:block>

    </div>
</main>

<div th:replace = "/common/footer.html"></div>

</body>
</html>