<!doctype html>
<html lang="ko">
<head th:replace="/common/header.html :: head">
    <title>Simplify</title>
</head>
<body>
<nav th:replace="/common/navbar.html :: nav"></nav>


<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <br><br>
        <h1 class="mt-5">게시글 목록</h1>

        <table class="table">
            <thead>
                <tr>
                    <th >#</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>작성일자</th>

                </tr>
            </thead>

            <tbody>
                <tr th:each="board : ${boards}">
                    <td th:text="${board.id()}"></td>
                    <td>
                        <a th:text="${board.title()}" th:href="@{/boards/{id}(id=${board.id()})}"></a>
                    </td>

                    <td th:text="${board.content()}"></td>
                    <td th:text="${board.createAt()}"></td>
                </tr>
            </tbody>

        </table>


    </div>
</main>

<div th:replace = "/common/footer.html"></div>

</body>
</html>